@import "../../../assets/styles/global.scss";



.first-section-wrapper{
    min-height:100vh;
    height: 100%;
    // background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    
    .content{
        height: 100%;
        flex: 1;
        display: flex;
        // flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .nav-container{
        position: absolute;
        top:-100px;
        left:0;
        width: 100%;
        animation-name: example;
        animation-duration: .5s;
        animation-delay: .3s;
        animation-fill-mode: forwards;
    }

    @keyframes example {
        0%   {top:-100px;}
        100% {top:0}
      }


    ///////////////
}

.ok{
    width:50%;
    height: 300px;
    z-index: 10;
    // box-shadow: 0px 4px 20px 50px #b62f2f;

}

.test{
    z-index: 20;
}

.animation-container {
	display: block;
	position: relative;
    background-color: aqua;
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	
	.lightning-container {
		position: absolute;
		top: 50%;
		left: 0;
		display: flex;
		transform: translateY(-50%);
		
		.lightning {
			position: absolute;
			display: block;
			height: 6px;
			width: 6px;
			border-radius: 12px;
			transform-origin: 6px 6px;

			
			animation-duration:4s;
			animation-iteration-count: infinite;
			animation-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950);
			animation-direction: forwards;

			&.green {
                animation-name: greenGo;
				background-color: green;
				box-shadow: 0px 50px 50px 0px transparentize(#fc7171, 0.7);
				animation-delay: 0.2s;
                z-index: 100;
			}

            &.blue {
                animation-name: blueGo;
				background-color: rgb(60, 107, 202);
				box-shadow: 0px 50px 50px 0px transparentize(#fc7171, 0.7);
				animation-delay: 0.2s;
                z-index: 100;
			}
		}
	}

    .box{
        position: absolute;
        border: 1px rgb(221, 221, 221) solid;
        border-radius: 4px;
    }
    .box1{
        top: -4px;
        left:134px;
        border: 1px rgb(221, 221, 221) solid;
        width: 75px;
        height: 400px;
        transform: rotate(40deg);
    }
    .box2{
        top: -8px;
        left:134px;
        width: 75px;
        height: 400px;
        transform: rotate(-50deg);
    }
    .box3{
        top: -45px;
        left:105px;
        border: 1px rgb(221, 221, 221) solid;
        width: 150px;
        height: 470px;
        transform: rotate(40deg);
    }
    .box4{
        top: -45px;
        left:100px;
        width: 150px;
        height: 470px;
        transform: rotate(-50deg);
    }



    // 167px, 82px
    // 273px,-42px
    // 387px, 54px
    // 206px, 268px
    // 178px, 242px
    // 327px, 63px
    // 270px, 16px
    // 194px, 102px
	

@keyframes greenGo {
	0% {
		transform: translate(167px, 82px) rotate(-35deg);
	}
    12% {
		transform: translate(273px,-42px) rotate(-35deg);
	}
    24% {
		transform: translate(387px, 54px) rotate(-35deg);
	}
    36% {
		transform: translate(206px, 268px) rotate(-35deg);
	}
    48% {
		transform: translate(178px, 242px) rotate(-35deg);
	}
    60% {
		transform: translate(327px, 63px) rotate(-35deg);
	}
    72% {
		transform: translate(270px, 16px) rotate(-35deg);
	}
    84% {
		transform: translate(194px, 102px) rotate(-35deg);
	}
    100% {
		transform: translate(167px, 82px) rotate(-35deg);
	}
	}

    // 42px, -20px
    // -52px, 92px
    // 305px, 392px
    // 400px, 280px

    @keyframes blueGo {
        0% {
            transform: translate(42px, -20px) rotate(-35deg);
        }
        20% {
            transform: translate(-52px, 92px) rotate(-35deg);
        }
        55% {
            transform: translate(305px, 392px) rotate(-35deg);
        }
        80% {
            transform: translate(400px, 280px) rotate(-35deg);
        }
        100% {
            transform: translate(42px, -20px) rotate(-35deg);
        }
    }


}