<div class="welcome-card">
  <h1>Welcome to my portfolio</h1>
  <p class="welcome-text">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the
    1500s, when an unknown printer.
    <!-- Front-End Developer with over two years of experience in HTML,
    CSS, JavaScript, and Angular. Proficient in design frameworks such as
    MaterialUI and TailwindCSS. -->
  </p>
  <button>Learn more</button>
</div>
