@import "../../../assets/styles/global.scss";

.welcome-card{
    max-width: 480px;
    z-index: 1009;
    // background-color: #4A87E2;
    // height: 100%;
    // flex: 1;
    // background-color: crimson;
}

button{
    padding:10px 30px;
    background: linear-gradient(270deg, #4A87E2 0%, rgba(166, 134, 208, 0.84) 107.59%);
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 700;
    border-radius: 8px;
    border:0;
    outline: 0;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px #00000040;
    transition: transform .4s ease;
}

button:hover{
    transition: .4s ease;
    background: linear-gradient(270deg, #5796f5 0%, rgba(185, 153, 228, 0.84) 107.59%);
}

.welcome-text{
    font-size: 20px;
    line-height: 28px;
    font-weight: 200;
    padding: 20px 0;
}