@import "../../../assets/styles/global.scss";

.project-card-wrapper{
    background-color: #FFFFFF;
    width:280px;
    height: 400px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px #00000040;


    img{
        width: 100%;
        height: auto;
    }

    .info{
        // height: ;
    }
}