

h1{
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

h3{
    font-size: 20px;
    font-weight: 700;
}

p{
    margin: 0;
    font-weight: 200;
}

ul{
    font-weight: 200;
}